.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-label::after {
    content: "Buscar arquivo";
}

.thanks-container-purchase {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(193, 193, 193);
    background: linear-gradient(90deg, rgba(193, 193, 193, 1) 0%, rgba(138, 138, 140, 1) 52%);
}

.content-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15% 5%;
}

.content-message a {
    font-size: 1.5rem;
}