.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-label::after {
    content: "Buscar arquivo";
}

.content-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15% 5%;
}

.content-message a {
    font-size: 1.5rem;
}

#selectCompanySession+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#accountGroup+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#chartOfAccountGroupSelect+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#chartOfAccountSelect+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#codeMethodPayment+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#productIcmsSituation+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#userSupportData+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#municipalityInvoice+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#recipientMunicipality+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#taxRegimeSelectMultiple+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--single .select2-selection__rendered {
    margin-top: -0.5rem !important;
}

#cashFlowSelectMultiple+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--multiple>.select2-selection__rendered>.select2-selection__choice {
    color: #000;
}

#selectChartOfAccountMultiple+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--multiple>.select2-selection__rendered>.select2-selection__choice {
    color: #000;
}

#balanceSheetSelectMultiple+.select2.select2-container.select2-container--default>.selection>.select2-selection.select2-selection--multiple>.select2-selection__rendered>.select2-selection__choice {
    color: #000;
}

#toast-container>.toast.toast-warning>.toast-close-button {
    color: #000;
}

#toast-container>.toast.toast-warning {
    color: #000;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0.8);
    /* White background with opacity */
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.documentation ul li {
    margin: 1rem 0;
}

.container-page-wizard {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.ticket-image {
    width: 750px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.thanks-container-purchase {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
}

.thanks-container-purchase h1 {
    color: #4CAF50;
}

.thanks-container-purchase p {
    font-size: 18px;
}

.thanks-container-purchase a {
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.thanks-container-purchase a:hover {
    background-color: #45a049;
}

.thanks-container-purchase i {
    font-size: 5rem;
    color: #4CAF50;
}

.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

    -webkit-box-shadow: 0px -1px 38px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 38px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 38px -10px rgba(0, 0, 0, 0.75);
}

.file-container {
    display: flex;
    align-items: center;
    justify-content: center;
}